@use '../variables'; // Используем переменные, если они в другом файле

.woocommerce-input-wrapper.password-input {
	//position: relative;
	max-width: 500px;
	display: block;
	width: 100%;
	//margin-bottom: 20px;

	/* Стилизация самого текстового поля ввода */
	// input.input-text {
	// 	width: 100%;
	// 	height: 48px;
	// 	padding: 12px 50px 12px 16px; // Большой отступ справа (50px), чтобы текст не налезал на иконку глаза
	// 	background-color: rgba(255, 255, 255, 0.05); // Полупрозрачный темный фон
	// 	border: 1px solid rgba(255, 255, 255, 0.15); // Тонкий полупрозрачный белый контур
	// 	border-radius: 6px;
	// 	color: #ffffff; // Чисто белый текст ввода
	// 	font-size: 16px;
	// 	outline: none;
	// 	transition:
	// 		border-color 0.3s ease,
	// 		box-shadow 0.3s ease,
	// 		background-color 0.3s ease;

	// 	// Стили для плейсхолдера ("Пароль")
	// 	&::placeholder {
	// 		color: rgba(255, 255, 255, 0.4);
	// 		font-size: 15px;
	// 	}

	// 	// Состояние при фокусе (активное поле)
	// 	&:focus {
	// 		border-color: #ffffff; // Контур становится чисто белым
	// 		background-color: rgba(255, 255, 255, 0.08); // Слегка подсвечиваем фон
	// 		box-shadow: 0 0 8px rgba(255, 255, 255, 0.2); // Мягкое свечение
	// 	}
	// }

	input.input-text {
		//position: relative;
		width: 100%;

		margin-top: 10px;
	}

	/* Стилизация кнопки "Показать/Скрыть пароль" */
}

.form-row {
	position: relative;
}

button.show-password-input {
	display: none;
	// 	position: absolute;
	// 	bottom: calc(50% + 10px);
	// 	right: 10px;
	// 	transform: translateY(-50%); // Идеальное центрирование по вертикали
	// 	width: 32px;
	// 	height: 32px;
	// 	background: variables.$background-page;
	// 	border: none;
	// 	cursor: pointer;
	// 	padding: 0;
	// 	margin: 0;
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: center;
	// 	z-index: 2;
	// 	outline: none;
	// 	background-image: url(../../img/eye.svg);
	// 	background-size: 50%;
	// 	background-repeat: no-repeat;
	// 	background-position: center;
}
// sdfsd2342TTT