.aws-container {
	width: 350px;
	max-width: 100%;
}

.aws-search-result .aws_result_title,
.aws-search-result .aws_search_more a {
	color: $color-dark-text;
	font-weight: 600;
}

.aws-container .aws-search-field {
	color: $color-light-text;
}

.aws-container .aws-search-field:focus {
	background-color: $background-page;
}
