@use '../variables';

.aws-container {
	width: 350px;
	max-width: 100%;
}

.aws-search-result .aws_result_title,
.aws-search-result .aws_search_more a,
.aws-search-result .aws_results .aws_result_item {
	color: #000;
	font-weight: 600;
}

.aws-container .aws-search-field {
	color: variables.$color-light-text;
}

.aws-container .aws-search-field:focus {
	background-color: variables.$background-page;
}
