.woocommerce-Reviews {
  padding: 24px;
  border: $border-gray;

  .toggle-reviews-form {
    cursor: pointer;
    span {
      border-bottom: 1px solid black;
    }
  }

  .review-form-wrapper {
    padding-bottom: 60px;
  }

  .woocommerce-pagination {
    margin-top: 0;
  }

  .comment-form-field {
    margin-top: 20px;
  }

  .comment-notes {
    margin-bottom: 20px;
  }

  .comment-form-cookies-consent {
    margin: 20px 0 10px;
    display: flex;
    column-gap: 10px;
    align-items: center;
    label{
      margin: 0;
    }
  }

  @media (max-width: $sm) {
    padding: 15px 0;
    border: none;

    .comment-form-field {
      margin-top: 15px;
    }


    .comment-form-field input, #comment, .submit {
      width: 100%;
    }
  }

}

.commentlist {
  list-style: none;
  color: $color-title;
  .review {
    padding: 24px 0;
    border-top: $border-gray;

    @media (max-width: $sm) {
      padding: 15px 0;
    }

    .meta {
      margin: 10px 0 15px;
      font-weight: 600;
      font-style: italic;
      strong{
        font-weight: inherit;
      }
    }
  }
}

.comment-form {
  label{
    display: block;
    margin-bottom: 10px;
  }

   .comment-form-rating {
     margin-bottom: 25px;

     a {
       display: inline-block;
       width: 20px;
       height: 20px;
       font-weight: 600;
       border-radius: 100%;
       background-color: $background-color-primary-button;
       color: $color-primary-button;
       text-align: center;
       font-size: 13px;
       padding: 2px;

       &:hover, &.active {
         opacity: 0.7;
       }
     }

   }

  .submit {
    @include button;
    @include button-primary;
    margin-top: 15px;
  }
}

