.expo-product-wrapper {
	display: flex;
	column-gap: 40px;
	line-height: 1.4;
	position: relative;

	.woocommerce-product-gallery__image,
	.wp-post-image,
	.woocommerce-product-gallery img {
		border-radius: $border-radius;
	}
	.related.products .xt_woovs-single-product .swatch.swatch-image .swatch-inner {
		box-shadow: inset 0 0 0 1px #000;
	}

	.xt_woovs-single-product .swatch.swatch-image.xt_woovs-selected .swatch-inner {
		box-shadow: inset 0 0 0 1px #ddd;
	}

	.entry-summary {
		width: 48%;
	}

	.woocommerce-product-gallery {
		width: 48%;

		img {
			// width: 100% !important;
			height: auto;
		}
	}

	.onsale,
	.offer-new {
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 20;
	}

	ins {
		text-decoration: none;
	}

	.star-rating {
		line-height: 1.2;
		margin: 15px 0 10px;
	}

	.wp-post-image {
		width: 100%;
		height: auto;
	}

	h1 {
		font-weight: 600;
		@include font-style(40px, 36px, 25px);
		margin: 20px 0 20px;
	}

	.sku {
		font-weight: 500;
	}

	form.cart {
		margin: 30px 0;
	}

	.quantity {
		margin-right: 25px;
	}

	.single_add_to_cart_button {
		display: inline-block;
		vertical-align: middle;
	}

	.price {
		@include font-style(20px, 20px, 18px);
		margin: 10px 0 15px;
		font-weight: 500;
	}

	.woocommerce-variation-price {
		margin: 10px 0 15px;
	}

	.single_add_to_cart_button {
		min-width: 180px;
	}

	.flex-control-thumbs {
		margin-top: 20px;
		list-style: none;
		display: flex;
		gap: 10px;
		flex-wrap: wrap;

		li {
			width: 23%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.variations {
		margin-bottom: 20px;
		text-align: left;

		th {
			font-weight: 600;
			padding-right: 15px;
		}

		select {
			@include select-no-border;
		}

		.reset_variations {
			margin-left: 10px;
		}
	}

	@media (max-width: $lg) {
		display: block;
		.woocommerce-product-gallery,
		.entry-summary {
			width: 100%;
		}

		.wp-post-image {
			width: 600px;
			max-width: 100%;
		}
	}

	@media (max-width: $sm) {
		.single_add_to_cart_button {
			width: 100%;
			margin-top: 30px;
		}

		.woocommerce-product-gallery__image {
			img {
				width: 100%;
				margin-top: 20px;
			}
		}
	}
}

.woocommerce-notices-wrapper {
	.wc-forward {
		@include link-bold-hover-bolder;
		margin-right: 10px;
	}
}

.related.products,
.up-sells.products {
	@include mt(70px, 60px, 40px);

	h2 {
		@include font-style(24px, 20px, 18px);
		@include mb(30px, 24px, 18px);
	}
}

.up-sells {
	h2 {
		@include font-style(24px, 20px, 18px);
		@include mb(30px, 24px, 18px);
	}
}

.flex-control-thumbs {
	li {
		cursor: pointer;
	}
}
