@use 'typography';
@use 'variables';

@mixin button {
	display: inline-block;
	font-family: inherit;
	font-size: 0.9rem;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	cursor: pointer;
	border: none;
	transition:
		color 0.15s ease-in-out,
		background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
}

@mixin button-primary {
	line-height: 1;
	padding: 16px 20px;
	min-width: 150px;
	font-weight: 700;
	font-style: normal;
	font-size: 12px;
	color: variables.$color-primary-button;
	background-color: variables.$background-color-primary-button;
	border-width: 1px;
	border-color: transparent;
	border-radius: 24px;
	border-style: solid;
	cursor: pointer;
	opacity: 1;
	&:hover {
		opacity: 0.8;
	}
	&:disabled {
		color: #000;
		background-color: transparent;
		opacity: 1;
		cursor: default;
	}

	@media (max-width: variables.$sm) {
		padding: 12px 12px;
	}
}

.btn {
	@include button;
}

@mixin button-secondary {
	background-color: variables.$background-page;
	color: variables.$color-title;
	@include typography.font-style(16px, 15px, 14px);
	font-weight: 700;
	letter-spacing: 0.05rem;
	padding: 20px 35px;
	transition: all 0.2s;
	border-radius: 30px;
	border: 1px solid variables.$color-title;

	&.btn-sm {
		@include typography.font-style(13px, 13px, 12px);
		padding: 5px 10px;
		letter-spacing: initial;
		box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

		&:hover {
			transform: none;
		}
	}

	&:hover {
		outline-offset: 15px;
		transform: scale(1.03);
	}
}

@mixin button-small {
	min-width: 100px;
	padding: 10px 24px;
	border-radius: 16px;
}

.btn-expo-secondary {
	@include button-secondary;
}

.add_to_cart_button,
.product_type_grouped,
.product_type_external,
.product_type_simple,
.btn-expo-primary,
.single_add_to_cart_button {
	@include button;
	@include button-primary;
}
