.expo-footer {
	background-color: $background-color-footer;
	padding: 36px 0 45px;
	border-top: $border-gray;

	.footer-text {
		color: rgba(255, 255, 255, 0.75);
		@include font-style(14px, 14px, 12px);
		line-height: 1.5;
	}

	.footer-links {
		color: $color-links;

		a {
			color: inherit;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
