@use 'typography';
@use 'variables';

.expo-footer {
	background-color: variables.$background-page;
	padding: 36px 0 45px;
	border-top: variables.$border-gray;

	.footer-text {
		color: rgba(255, 255, 255, 0.75);
		@include typography.font-style(14px, 14px, 12px);
		line-height: 1.5;
	}

	.footer-links {
		color: variables.$color-links;

		a {
			color: inherit;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
