.home__heading {
	padding-top: 50px;
	color: $color-light-text;

	@media (max-width: $md) {
		padding-top: 28px;
	}

	h1 {
		font-weight: 700;
	}

	.heading-image {
		img {
			border-radius: 30px;
			overflow: hidden;
		}
	}

	.heading-subtitle {
		margin-block: 40px;

		@media (max-width: $md) {
			margin-block: 20px;
		}
	}

	.heading-info {
		padding-top: 50px;

		@media (max-width: $md) {
			padding-top: 0;
		}
	}

	.heading-content {
		display: grid;
		grid-template-columns: 4fr 5fr;
		gap: 70px;
		margin: 0 auto;

		@media (max-width: $md) {
			grid-template-columns: 1fr;
			gap: 30px;
		}

		@media (max-width: $sm) {
			.btn-expo-secondary {
				width: 100%;
			}
		}
	}
}
