$color-light-text: #fff;
$color-dark-text: #fff;
$color-title: #fff;
$color-primary-button: rgb(255, 255, 255);
$color-danger: #f58080;
$background-page: #271e15;
$background-color-primary-button: #fff;
$color-secondary-button: #000;
$background-color-secondary-button: #fff;
$background-color-footer: #000;
$input-border-color: #d9d9d9;
$border-gray: 1px solid #dfdfdf;
$border-black: 1px solid #000;

$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$border-gray: 1px solid #433e3e;
